@import url('https://fonts.googleapis.com/css?family=Cantarell&display=swap');

table {
  font-family: 'Cantarell', sans-serif;
}

button {
  margin: 10px;
}


.icon-delete:hover {
  cursor: pointer;
}

.icon-update:hover {
  cursor: pointer;
}


div.input-group {
  width: 30%;
  margin: 10px;
}
