@import url('https://fonts.googleapis.com/css?family=Cantarell&display=swap');

table {
  font-family: 'Cantarell', sans-serif;
}

button {
  margin: 20px;
}


.icon-delete:hover {
  cursor: pointer;
}

.icon-update:hover {
  cursor: pointer;
}
