<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Marca</th>
      <th scope="col">Submarca</th>
      <th scope="col">Descripcion</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
      <th scope="row">{{i + 1}}</th>
      <td>
        {{ auto.marca }}
      </td>
      <td>{{ auto.submarca  }}</td>
      <td>{{ auto.descripcion }}</td>
      <td><i class="fa fa-trash"></i></td>
      <td><i class="fa fa-edit"></i></td>
    </tr>
  </tbody>
</table>
<ngb-pagination [collectionSize]="autos.length" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
