<button type="button" class="btn btn-dark" (click)="openModalAgregar()">Agregar <i class="fa fa-plus"></i></button>



<table class="table table-striped">

  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Marca</th>
      <th scope="col">Submarca</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Modelos</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>


  <tbody>
    <tr *ngIf="displayProgressBar">
      <th colspan='7'>
        <ngb-progressbar type="dark" [value]="100" [striped]=true [animated]=true></ngb-progressbar>
      </th>
    </tr>

    <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
      <th scope="row">{{auto._id}}</th>
      <td>
        {{ auto.marca }}
      </td>
      <td>{{ auto.submarca  }}</td>
      <td>{{ auto.descripcion }}</td>
      <td>{{auto.modelos | formatoModelos }}</td>
      <td class="icon-delete"><i class="fa fa-trash" (click)="openModalConfirmarEliminar(auto)"></i></td>
      <td class="icon-update" (click)="openModalEditar(auto)"><i class="fa fa-edit"></i></td>
    </tr>
  </tbody>
</table>

<ngb-pagination [collectionSize]="autos?.length" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
