.views {
  display: flex;
}

nav a {
  background-color: whitesmoke;
  padding: 15px;
  width: 100%;
  text-align: center;
  color: rgb(32, 32, 32);
  border: 1px solid rgb(233, 233, 233);
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

nav a.active {
  text-shadow: 0 0 10px #165781;
  color: rgb(252, 104, 104);
}
