/* You can add global styles to this file, and also import other style files */


body,
html {
  margin: 0;
  font-family: 'Anton', sans-serif;
}


.page-link {
  color: gray;
}

.page-link:hover {
  color: white;
  background-color: gray;
}

.page-item.active .page-link {
  color: white;
  background-color: gray;
}
